body {
  background-color: $gray-100;
  padding-top: 56px;
  color: $font-color;

  a {
    text-decoration: none;
    color: $font-color;
  }

  font: {
    size: $font-size;
    family: $font-family;
  }

  line-height: $line-height;
}