html {
  body {
    margin: 5px;
    box-shadow: -2px -2px 5px darkgray;
    padding-top: $nav-bar-height;
    color: $font-color;
    min-width: 315px;
    a {
      text-decoration: none;
      color: $font-color;
    }

    font: {
      size: $font-size-default;
      family: $font-family-default;
    }

    line-height: $line-height;
    &.fixed {
      position: fixed;
    }
  }
}
