#header {
  $outside-wrapper-height: 35vh;

  position: relative;
  padding-top: 52px;
  height: 100vh;
  top: -8px;
  display: flex;
  align-items: center;
  justify-content: center;

  .bgImg {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    background: url("../data/image/header_background.jpg");
    // filter: blur(1px);
    // -webkit-filter: blur(1px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
  }
  .wrapper {
    display: flex;
  }
  .wrapper.column {
    flex-direction: column;
  }
  .wrapper.row {
    flex-direction: row;
  }

  .wrapper:first-of-type {
    height: $outside-wrapper-height;
    margin-top: -20%;
    flex-wrap: nowrap;

    .boxImg {
      height: $outside-wrapper-height;
      width: $outside-wrapper-height;
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: -2px 2px 5px black;
    }
    .wrapper {
      width: auto;
      padding: 5%;
      box-shadow: 2px 2px 5px black;
      p {
        white-space: nowrap;
        letter-spacing: 0.2rem;
        &[type="name"] {
          font-size: 2rem;
          line-height: 3rem;
        }
        &[type="email"] {
          font-size: 0.9rem;
        }
        &[type="github"] {
          font-size: 0.6rem;
        }
        &[type="intro"] {
          font-size: 1rem;
        }
      }
    }
  }
}
