$color: rgba(255, 255, 255, 0.4);
$width: 240px;
$half-width: calc(#{$width} / 2);
$height: calc(#{$width} * 0.5766);
$endPoint: calc(#{$height} / 2);
$svgStroke: 2px;
$svgTransY: calc(calc(calc(-240px * 0.5766) / 2) - #{$svgStroke});
$marginTop: calc(calc(#{$height}/ 2) + #{$svgStroke});
#section-project {
  position: relative;
  // box-shadow: inset 3px 3px 7px black;
  // border-radius: 20px;
  // background: white;
  padding: 50px 0 !important;

  .cRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    article {
      position: relative;
      width: $width;
      height: $height;
      background-color: $color;
      margin: $marginTop 10px;
      padding: 0 2px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 0;
        border-left: $half-width solid transparent;
        border-right: $half-width solid transparent;
      }
      &:before {
        bottom: 100%;
        border-bottom: $endPoint solid $color;
      }
      &:after {
        top: 100%;
        width: 0;
        border-top: $endPoint solid $color;
      }
      &:hover {
        svg {
          will-change: dash;
          animation: dash 0.5s;
          animation-fill-mode: forwards;
        }
      }
      figure {
        position: relative;
        z-index: 20;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        height: 100%;
        font-size: $font-size-default;
        line-height: 1;
        color: #000;
        text-align: center;
        h2 {
          font-size: 1rem;
        }
        p {
          font-size: 70%;
          line-height: 1.2;
          width: 100%;
        }
        .btnOpenModal {
          font-size: 0.8rem;
          font-weight: 600;
          &:hover {
            text-decoration: none;
          }
        }
        ul {
          list-style-type: none;
        }
      }
      svg {
        position: absolute;
        transform: translate(-3px, (#{$svgTransY}));
        z-index: 10;
        stroke-width: $svgStroke;
        stroke: rgb(212, 37, 37);
        stroke-dasharray: 840;
        stroke-dashoffset: 840;
        will-change: auto;
        path {
          fill: transparent;
        }
      }
    }
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 840;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
