#section-profile {
  position: relative;
  font-family: $font-family-default;
  font-size: 0.8rem;
  $lg-table-translateY: 80px;
  > div.container-fluid {
    @media screen and (max-width: map-get($container-max-widths, lg)) {
      padding-bottom: $lg-table-translateY;
    }
  }
  .profile-image {
    width: 200px;
    height: 200px;
    background: white;
    background-image: url("../data/image/profile.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -130%);
    box-shadow: inset 5px 5px 5px black;
    @include transition-default;
    @media screen and (max-width: map-get($container-max-widths, sm)) {
      transform: scale(0.75) translate(-65%, -130%);
    }
  }

  div#board-left {
    margin: 50px auto 0 0;
    @include profile-board;
    &::after {
      position: absolute;
      content: attr(data-content);
      font-size: 3rem;
      line-height: 3rem;
      top: 50%;
      right: -50%;
      opacity: 0;
      transition-duration: 1.5s;
      transition-timing-function: ease-out;
      @media screen and (max-width: map-get($container-max-widths, lg)) {
        display: none;
      }
    }
    &.animate::after {
      opacity: 1;
      right: -100%;
    }
  }
  div#board-right {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // min-height: 500px;
    margin: 0 0 0 auto;
    top: -100px;
    #tree {
      min-height: 500px;
      width: 100%;
      svg {
        width: 100%;
      }
      .node {
        cursor: pointer;
      }

      .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
      }

      .node text {
        font: 10px sans-serif;
        writing-mode: vertical-rl;
      }

      .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
      }
    }
    @include profile-board;
    @media screen and (max-width: map-get($container-max-widths, lg)) {
      top: $lg-table-translateY;
    }
    &::after {
      position: absolute;
      content: attr(data-content);
      font-size: 3rem;
      line-height: 3rem;
      top: 25%;
      left: -50%;
      opacity: 0;
      transition-duration: 1.5s;
      transition-timing-function: ease-out;
      @media screen and (max-width: map-get($container-max-widths, lg)) {
        display: none;
      }
    }
    &.animate::after {
      opacity: 1;
      left: -100%;
    }
  }
}
