section {
  > h2 {
    position: relative;
    z-index: 20;
    text-align: center;
    color: $subtitle-color;
    font-family: $font-family-subtitle;
  }
  .container-fluid {
    margin-top: 2rem;
  }
}
